
{% import 'Components/Macro/macroTrombi.html.twig' as macroTrombi %}
{% extends 'base.html.twig' %}

{% block title %}Trombinoscope{% endblock %}

{% block body %}
<div class="flex-col">
        <h1 class="text-center text-3xl font-bold bg-secondary text-white p-1 mb-10">Trombinoscope</h1>
      <section class="p-10 font-montserrat">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full">
        <table class="w-full">
          <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3 font-montserrat">Prénom</th>
            <th class="px-4 py-3 font-montserrat">Nom</th>
            <th class="px-4 py-3 font-montserrat">Mail</th>
            <th class="px-4 py-3 font-montserrat text-center">Contacter</th>
          </tr>
        </thead>
        <tbody class="bg-white">
        <!-- Ajout d'une personne -->
                <div class="md:flex md:flex-wrap -mx-2">
                    {% for user in users %}
                        {{ macroTrombi.trombi(user.firstName, user.lastName, user.email, user.imagePath, user.id) }}
                    {% endfor %}
                </div>
        </tbody>
      </table>
    </div>
  </div>
</section>

    {% for flashMessage in app.flashes('success') %}
        <div class="success-flash-message hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" >
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ flashMessage }}</h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-sm text-gray-500">Votre demande d'amis a été envoyée avec succès!</p>
                    </div>
                    <div class="items-center px-4 py-3">
                        <button class="ok-button px-4 py-2 bg-blue-500 text-secondary text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var successMessages = document.querySelectorAll('.success-flash-message');

            successMessages.forEach(function(message) {
                var okButton = message.querySelector('.ok-button');
                if (okButton) {
                    message.classList.remove('hidden');

                    okButton.addEventListener('click', function() {
                        message.classList.add('hidden');
                    });
                }
            });
        });
    </script>
{% endblock %}