{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}


    {% block javascripts %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'fr',
          timeZone: 'Europe/Paris',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right:'dayGridMonth,timeGridWeek'
          },
          eventClassNames: 'cursor-pointer',
          buttonText:{
            today: "Aujourd'\hui",
            month: "Mois",
            week: "Semaine"
          },
          events: {{data|raw}},
          eventClick: function(info) {
                // Récupérer les informations de l'événement
                var id = info.event.id;
                var title = info.event.title;
                var end = formatDate(info.event.end);
                var start = formatDate(info.event.start);
                var description = info.event.extendedProps.description;
                var category = info.event.extendedProps.category;
                var user = info.event.extendedProps.user;
                var location = info.event.extendedProps.location;

                // Afficher les informations dans la console (vous pouvez également les utiliser pour afficher dans une modal)
                console.log("id:", id);
                console.log("Titre:", title);
                console.log("Fin:", end);
                console.log("Début:", start);
                console.log("description:", description);
                console.log("category:", category.name);
                console.log("user:", user.lastname);
                console.log("location:", location);

                // Ouverture de votre modal avec les informations de l'événement
                openModal(id, title, start, end, description, category.name, user.lastname, location);
            }
        });
        calendar.render();
      });
    </script>
    {% endblock %}

    <!-- CALENDRIER + BOUTON CREER EVENEMENT -->
    <div class="flex flex-col items-center justify-center">
        <div class=" mx-4 my-4 p-4 w-9/12" id='calendar'></div>
            <button id="openModal" class=" text-2xl text-white py-2 px-4 rounded m-2 bg-primary">
                Créer un évènement
            </button>
    </div>

    <!-- MODAL POUR LA CREATON D'UN EVENEMENT -->
    <div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <div class="modal-container max-w-md mx-auto my-10 bg-white rounded shadow-lg">
            <div class="modal-content py-4 text-left px-6" style="height:55em;">

            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold mb-4">Création d'évènement</h2>
                <button id="closeModal" class="bg-transparent text-red-500 py-2 px-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-14 w-14">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="my-7 flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto mb-[250px] p-10 gap-4">
            <hr class="w-48 h-0.5 bg-primary border-0 rounded">

            {{ form_errors(eventForm) }}
            {{ form_start(eventForm) }}

            <div class="mb-4">
                <label for="user" class="block text-black text-sm mb-2">Utilisateur</label>
                {{ form_widget(eventForm.user, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="category" class="block text-black text-sm mb-2">Catégorie</label>
                {{ form_widget(eventForm.category, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="name" class="block text-black text-sm mb-2">Titre</label>
                {{ form_widget(eventForm.name, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="description" class="block text-black text-sm mb-2">Description</label>
                {{ form_widget(eventForm.description, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="location" class="block text-black text-sm mb-2">Emplacement</label>
                {{ form_widget(eventForm.location, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="startDate" class="block text-black text-sm mb-2">Commence le</label>
                {{ form_widget(eventForm.startDate, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="endDate" class="block text-black text-sm mb-2">Termine le</label>
                {{ form_widget(eventForm.endDate, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                {{ form_widget(eventForm.save, {'attr': {'class': 'w-full p-2 bg-primary text-white rounded-lg cursor-pointer'}}) }}
            </div>

            {{ form_end(eventForm) }}
            </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('openModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.remove('hidden');
        });

        document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.add('hidden');
        });
    </script>
    <!-- FIN DE LA MODAL CREATION EVENEMET-->


    <!-- MODAL POUR LES INFOS D'UN EVENEMENT -->
    <!-- Exemple de structure Symfony avec Tailwind CSS pour une modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal2">
        <div class="fixed inset-0 overflow-y-auto">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!-- Fond sombre de la modal -->
                <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                    <div class="absolute inset-0 bg-primary opacity-75"></div>
                </div>

                <!-- Contenu de la modal -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full">
                    <!-- En-tête de la modal -->
                    <div class="bg-primary px-4 py-3">
                        <h3 class="text-lg font-medium leading-6 text-white font-montserrat" id="modal-title">
                            <span class="mt-1 text-sm text-gray-300 font-montserrat" id="modal-title"></span>
                        </h3>
                        <p class="mt-1 text-sm text-gray-300 font-montserrat">
                            Créateur : <span class="mt-1 text-sm text-gray-300 font-montserrat" id="modal-user"></span>
                        </p>
                    </div>

                    <!-- Corps de la modal -->
                    <div class="p-4">
                        <div class="flex flex-col">
                            <div class="flex-col justify-center place-items-center">
                                 <p class="py-2.5 mt-1 text-lg font-semibold text-black font-montserrat">
                                    Emplacement : <span class="mt-1 text-lg text-black font-montserrat" id="modal-location"></span>
                                </p>
                                <p class="py-2.5 mt-1 text-lg font-semibold text-black font-montserrat">
                                    Début : <span class="mt-1 text-lg text-black font-montserrat" id="modal-start"></span>
                                </p>
                                <p class="py-2.5 mt-1 text-lg font-semibold text-black font-montserrat">
                                    Fin : <span class="mt-1 text-lg text-black font-montserrat" id="modal-end"></span>
                                </p>
                            </div>
                            <div class="w-full h-1 rounded-full bg-primary mt-2"></div>
                            <div class="w-2/3 break-words">
                                <!-- Insérez votre logique pour afficher le texte ici -->
                                <p class="py-2.5 font-montserrat"><span class="font-montserrat" id="modal-description"></span></p>
                        </div>
                        </div>
                    </div>

                    <!-- Pied de la modal -->
                    <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="button" class="w-full font-montserrat inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 hover:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal()">
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS POUR OUVRIR ET FERMETLA MODAL -->
    <script>
        function openModal(id, title, start, end, description, category, user, location) {
            // Mettez à jour le contenu de la modal avec les informations de l'événement
            document.getElementById('modal-title').innerText = title;
            document.getElementById('modal-start').innerText = start;
            document.getElementById('modal-end').innerText = end;
            document.getElementById('modal-description').innerText = description;
            document.getElementById('modal-user').innerText = user;
            document.getElementById('modal-location').innerText = location;

            // Afficher la modal
            document.getElementById('myModal2').classList.remove('hidden');
        }

        function closeModal() {
            // Masquer la modal
            document.getElementById('myModal2').classList.add('hidden');
        }

        // Format date affichage
        function formatDate(date) {
            const options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            };
            return new Date(date).toLocaleDateString('fr-FR', options);
        }
    </script>

    
{% endblock %}
