{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mx-auto p-6">

        <form id="FormulaireProfil">
            <input type="file" id="inputFile" style="display: none" accept="image/*">

            <div class="flex justify-between items-center ml-4 rounded-full bg-white/[.100] overflow-hidden" style="width: 110px; height: 105px;">
                <div id="iconContainer">
                    <img src="{{ asset('uploads/' ~ app.user.imagePath) }}" alt="Image sélectionnée"
                            width="100" height="100" style="border-radius: 50%; border: 3px solid grey;">
                </div>
            </div>
        </form>

        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-8">Mon Compte</h1>
        <!-- Section Informations Personnelles -->
        <div class="bg-white border-2 border-slate-800 shadow-xl rounded-lg mb-6 p-4">
            {{ form_start(accountForm) }}

            <div class="md:flex md:space-x-4 p-2">
                <div class="mb-4 md:mb-0 md:w-1/2">
                    {{ form_row(accountForm.firstName, {'attr': {'readonly': true, 'class' : 'ml-4 editable-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 shadow-xl p-4','style': 'background-color: rgba(255, 255, 255, 0.5);'}}) }}
                    {{ form_row(accountForm.lastName, {'attr': {'readonly': true, 'class' : 'ml-4 editable-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 shadow-xl p-4','style': 'background-color: rgba(255, 255, 255, 0.5);'}}) }}
                    {{ form_row(accountForm.email, {'attr': {'readonly': true, 'class' : 'ml-4 editable-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 shadow-xl p-4','style': 'background-color: rgba(255, 255, 255, 0.5);'}}) }}
                </div>
                <div class="md:w-1/2">
                    {{ form_row(accountForm.phone, {'attr': {'readonly': true, 'class' : 'ml-4 editable-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 shadow-xl p-4','style': 'background-color: rgba(255, 255, 255, 0.5);'}}) }}
                    {{ form_row(accountForm.password, {'attr': {'readonly': true, 'class' : 'ml-4 editable-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 shadow-xl p-4','style': 'background-color: rgba(255, 255, 255, 0.5);'}}) }}
                </div>
            </div>

            <div class="text-right mt-4">
                <div class="flex">

                    {{ form_widget(accountForm.modifier,
                        {
                            'attr' :
                            {
                                'class' : 'btn-modifier bg-primary hover:bg-gray-700 text-white font-bold py-2 px-4 rounded'
                            }
                        }
                    )}}

                    {{ form_widget(accountForm.save,
                        {
                            'attr' :
                            {
                                'class' :'bg-primary hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-6'
                            }
                        }
                    )}}

                    <button type="button" onclick="openFileSelector()" class="bg-primary hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-6 mr-4 ml-auto">Changer de photo de profil</button>

                </div>
            </div>

            {{ form_end(accountForm) }}
        </div>

        <!-- Section Notifications -->
        <div class="bg-white border-2 border-slate-800 shadow-xl rounded-lg p-4">
            <h2 class="text-xl font-semibold mb-4">Mes Demandes d'amis</h2>
            <div class="flex flex-col space-y-4 mb-3">
                {% for friendRequest in friendRequests %}
                    <div class="flex flex-row space-x-4 border-2 border-slate-800 rounded-lg shadow-xl p-3">
                        <div class="flex-shrink-0">
                           <i class="fas fa-user-plus"></i>
                        </div>
                        <div class="flex-grow">
                            <p class="font-semibold">{{ friendRequest.name }}</p>
                            <p class="text-sm text-gray-600">{{ friendRequest.email }}</p>
                        </div>
                        {% if friendRequest.initiator != app.user.id  %}
                            <div class="flex-shrink-0 mt-3">
                                <a href="{{ path('app_account_accept', {'id': friendRequest.id}) }}" class="bg-secondary hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                                    Accepter
                                </a>
                            </div>
                            <div class="flex-shrink-0 mt-3">
                                <a href="{{ path('app_account_refuse', {'id': friendRequest.id}) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4">
                                    Refuser
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
            <!-- Section Contact list -->
            <h2 class="text-xl font-semibold mb-4">Mes Contacts</h2>
            <div class="flex flex-col space-y-4">
                {% for friend in contactList %}
                    <div class="flex flex-row space-x-4 border-2 border-slate-800 rounded-lg shadow-xl p-2">
                        <i class="fas fa-user"></i>
                        <div class="flex-grow">
                            <p class="font-semibold">{{ friend.name }}</p>
                            <p class="text-sm text-gray-600">{{ friend.email }}</p>
                            <p class="text-sm text-gray-600">{{ friend.status }}</p>
                        </div>
                        <div class="flex-shrink-0 mt-5">
                            <a href="{{ path('app_account_remove', {'id': friend.id}) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4">
                                Supprimer
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Section Changer le Mot de Passe -->
        <!-- Un bouton ici pour ouvrir une modale pour changer le mot de passe, si nécessaire -->

    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var btnModifier = document.querySelector('.btn-modifier');

            btnModifier.addEventListener('click', function () {
                // Logique pour activer la modification
                var formFields = document.querySelectorAll('.editable-field');

                formFields.forEach(function (field) {
                    field.readOnly = false;
                });
            });

        });
    </script>


    <script>
        function openFileSelector() {
            // Simuler un clic sur le champ de fichier caché
            document.getElementById('inputFile').click();
        }

        // Gérer le changement de fichier sélectionnél
        document.getElementById('inputFile').addEventListener('change', handleFileSelect);

        function handleFileSelect(event) {
            // Récupérer le fichier sélectionné
            const selectedFile = event.target.files[0];

            // Vous pouvez effectuer d'autres opérations avec le fichier ici, par exemple l'afficher
            if (selectedFile) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // Mettre à jour la source de l'élément SVG avec l'URL de l'image
                    document.getElementById('iconContainer').innerHTML = `<img src="${e.target.result}" alt="Image sélectionnée" "width="100" height="100" style="border-radius: 50%; border: 3px solid gray">`;
                };
                reader.readAsDataURL(selectedFile);
            }
        }
    </script>

{% endblock %}