{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

<form class="h-60 w-96 rounded-lg bg-white shadow-xl flex flex-col justify-center place-items-center">
    <p class="mb-4 text-center font-montserrat">Un code de validation va être envoyé sur votre mail afin d’autoriser l’opération de réinitialisation du mot de passe</p>
    <input class="pl-3 mb-4 rounded-lg border border-gray-300 font-montserrat" placeholder="Adresse mail" required/>
    <button class="px-3 py-1 rounded-lg bg-primary hover:bg-secondary text-white font-montserrat">Valider</button>
</form>

<div id="contenuPrincipal" class="p-52">
	<form class="flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto my-5 p-5 gap-4" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1 class="h-3 mb-3 font-weight-normal my-5">Connexion</h1>
		<hr class="w-48 h-0.5 bg-primary border-0 rounded">

		<div class="relative h-10 w-full min-w-[200px]">
			<input class="peer h-full w-full rounded-[7px] border border-gray-200 border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-primary focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50" placeholder=" " type="email" placeholder="Exemple@gmail.com" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus/>
			<label class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-primary peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-primary peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-primary peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-500" for="inputEmail">
				Adresse mail
			</label>
		</div>
		<div class="relative h-10 w-full min-w-[200px]">
			<input class="peer h-full w-full rounded-[7px] border border-gray-200 border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-primary focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50" type="password" placeholder=" " name="password" id="inputPassword" class="form-control" autocomplete="current-password" required/>
			<label class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-primary peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-primary peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-primary peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-500" for="inputPassword">
				Mot de passe
			</label>
		</div>

		<a href="#" class="text-indigo-500 underline mx-auto py-4">
			Mot de passe oublié</a>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="bg-primary text-white p-3 rounded-md" type="submit">
			Se connecter
		</button>
	</form>
</div>
{% endblock %}
