{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

<div class="p-12 align-middle flex items-center">
	<div class="my-24 flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto mb-[250px] p-10 gap-4">
		<h1 class="h3 mb-3 mx-auto w-full font-weight-normal my-5">Inscription</h1>
		<hr class="w-48 h-0.5 bg-primary border-0 rounded">
		<div class="justify-center flex items-center">
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			{# {{ form_row(registrationForm.firstName) }} #}
			<div class="h-10 w-full min-w-[200px] mb-4">
				{{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Prénom', 'class': 'pl-3 hover:border-primary border border-gray-300 font-montserrat h-10 text-black text-sm mb-2 w-80 rounded-lg'}}) }}
			</div>

			<div class="text-black h-10 w-full min-w-[200px] mb-4">
				{{ form_widget(registrationForm.lastName, {'attr': {'placeholder': 'Nom', 'class': 'pl-3 hover:border-primary border border-gray-300 font-montserrat  h-10 text-black text-sm mb-2  w-80 rounded-lg'}}) }}
			</div>

			<div class="text-black h-10 w-full min-w-[200px] mb-4">
				{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Mail', 'class': 'pl-3 hover:border-primary border border-gray-300 font-montserrat  h-10 text-black text-sm mb-2  w-80 rounded-lg'}}) }}
			</div>

			<div class="text-black h-10 w-full min-w-[200px] mb-4">
				{{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe', 'class': 'pl-3 hover:border-primary border border-gray-300 font-montserrat  h-10 text-black text-sm mb-2  w-80 rounded-lg'}}) }}
			</div>

			<button type="submit" class="bg-primary text-white p-3 w-full rounded-md">Inscription</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>
{% endblock %}
