{% extends 'base.html.twig' %}

{% block title %}Market{% endblock %}

{% block body %}
    <div class="justify-center place-items-center p-4">
        <h1 class="text-center text-2xl font-bold my-4">Place de vente</h1>
        <div class="h-1 rounded-full bg-black w-2/12 mx-auto mb-5"></div>

        <div class="text-center">
            <button id="openModal" class="text-2xl text-white py-2 px-4 rounded m-2 bg-primary">Mettre en vente</button>
        </div>


    <!-- MODAL POUR LA CREATON D'UNE VENTE -->
    <div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <div class="modal-container max-w-md mx-auto my-10 bg-white rounded shadow-lg">
            <div class="modal-content py-4 text-left px-6" style="height:45em;">

            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold mb-4">Mise en vente</h2>
                <button id="closeModal" class="bg-transparent text-red-500 py-2 px-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-14 w-14">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="my-7 flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto mb-[250px] p-10 gap-4">
            <hr class="w-48 h-0.5 bg-primary border-0 rounded">

            {{ form_errors(marketForm) }}
            {{ form_start(marketForm) }}

            <div class="mb-4">
                <label for="user" class="block text-black text-sm mb-2">Utilisateur</label>
                {{ form_widget(marketForm.user, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="category" class="block text-black text-sm mb-2">Catégorie</label>
                {{ form_widget(marketForm.category, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="name" class="block text-black text-sm mb-2">Titre</label>
                {{ form_widget(marketForm.title, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}})}}
            </div>

            <div class="mb-4">
                <label for="description" class="block text-black text-sm mb-2">Description</label>
                {{ form_widget(marketForm.content, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}})}}
            </div>

            <div class="mb-4">
                <label for="imageFile" class="block text-black text-sm mb-2">Choisir une image</label>
                {{ form_widget(marketForm.imageFile, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                {{ form_widget(marketForm.save, {'attr': {'class': 'w-full p-2 bg-primary text-white rounded-lg cursor-pointer'}}) }}
            </div>

            {{ form_end(marketForm) }}
            </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('openModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.remove('hidden');
        });

        document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.add('hidden');
        });
    </script>
    <!-- FIN DE LA MODAL CREATION VENTE-->


    <!-- LISTE DES PROPOSITIONS DE VENTES -->
    <h2 class="text-center text-xl font-semibold mt-8 mb-4">Ventes disponibles</h2>
    <div class="h-1 rounded-full bg-black w-2/12 mx-auto mb-5"></div>

      <div class="grid gap-4 sm:grid-cols-2 px-20">
        {% for donnee in donnees %}
        {% set firstImage = donnee.getFirstImage() %}
        {% if firstImage %}
        <div class="rounded-lg shadow-xl border-primary border-y-2 h-48 m-2 p-4 cursor-pointer" id="openModal{{ donnee.id }}">
            <div class="flex items-center justify-between">
                        <h3 class="text-2xl font-bold font-montserrat" style="color:#303030;">{{ donnee.title |striptags}}</h3>
                        <span class="text-2xl font-montserrat">{{ donnee.user }}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4">
                <div class="flex justify-center place-items-center">
                    <img src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" alt="First Image" class="h-20 object-cover">
                </div>
                <div class="flex-col md:col-span-3 ml-4">
                    <div class="mt-4 h-32 overflow-hidden">
                        <p class="text-gray-600 overflow-ellipsis font-montserrat">{{ donnee.content |striptags}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="rounded-lg shadow-xl border-primary border-y-2 h-48 m-2 p-4 cursor-pointer" id="openModal{{ donnee.id }}">
            <div class="flex justify-between">
                <h3 class="text-2xl font-bold font-montserrat" style="color:#303030;">{{ donnee.title |striptags}}</h3>
                <span class="text-2xl font-montserrat">{{ donnee.user }}</span>
            </div>
            <div class="mt-4 h-32 overflow-hidden"><p class="text-gray-600 font-montserrat">{{ donnee.content |striptags}}</p></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- FIN LISTE -->



    <!-- MODAL POUR LES INFOS D'UNE VENTE -->
    {% for donnee in donnees %}
        <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal{{ donnee.id }}">
            <!-- Exemple de structure Symfony avec Tailwind CSS pour une modal -->
            <div class="fixed inset-0 overflow-y-auto">
                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                    <!-- Fond sombre de la modal -->
                    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                        <div class="absolute inset-0 bg-primary opacity-75"></div>
                    </div>

                    <!-- Contenu de la modal -->
                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full">
                        <!-- En-tête de la modal -->
                        <div class="bg-primary px-4 py-3">
                            <h3 class="text-lg font-medium leading-6 text-white font-montserrat" id="modal-title">
                                Titre : {{ donnee.title |striptags}}
                            </h3>
                            <p class="mt-1 text-sm text-gray-300 font-montserrat">
                                Date de création: {{ donnee.createdAt|date('d-m-Y') }}
                            </p>
                            <p class="mt-1 text-sm text-gray-300 font-montserrat">
                                Créateur: {{ donnee.user }}
                            </p>
                        </div>

                        <!-- Corps de la modal -->
                        <div class="p-4">
                            <div class="flex">
                                <!-- Colonne pour les images (35% de la largeur) -->
                                <div class="w-1/3 pr-4">
                                {% for image in donnee.getImages() %}
                                        <div class="m-3 flex-shrink-0 overflow-hidden aspect-ratio-auto rounded-lg flex-col">
                                        <img class="object-cover rounded-lg" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="Photo de la vente">
                                        </div>
                                {% endfor %}
                                </div>

                                <!-- Colonne pour le texte (65% de la largeur) -->
                                <div class="w-2/3 break-words">
                                    <!-- Insérez votre logique pour afficher le texte ici -->
                                    <p class="font-montserrat">{{ donnee.content |striptags}}</p>
                                </div>
                            </div>
                        </div>

            <!-- Pied de la modal -->
            <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="w-full font-montserrat inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 hover:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal('{{ donnee.id }}')">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>

        </div>
    {% endfor %}

    <script>
        // Attachez un gestionnaire d'événements à chaque card
        {% for donnee in donnees %}
            document.getElementById('openModal{{ donnee.id }}').addEventListener('click', function() {
                document.getElementById('myModal{{ donnee.id }}').classList.remove('hidden');
            });
        {% endfor %}

        function closeModal(id) {
            // Masquer la modal
            document.getElementById('myModal' + id).classList.add('hidden');
        }
    </script>
    <!-- FIN MODAL POUR LES INFOS DE VENTE -->
    </div>
{% endblock %}
