{% import 'Components/Macro/macroPost.html.twig' as macroPost %}
{% extends 'base.html.twig' %}

{% block title %}Dernières actualités{% endblock %}
{% block body %}
<div class="flex-col">
    <!--<div class="mx-auto py-1.5 my-12 shadow-xl px-8 w-fit flex flex-col items-center container bg-orange-100 rounded-lg border-solid border-2 border-orange-200">
        <p class="font-montserrat text-center">Créer un nouveau post</p>
        <a href="#" class="text-center rounded-full font-semibold text-primary bg-white border-solid border-2 px-7 border-primary mx-auto mt-4 mb-2 hover:bg-gray-400/[.60]">C'est parti !</a>
    </div>-->

    <div class="py-6 container mx-auto mt-8">
        <div class="flex items-center">
            <h1 class="relative font-montserrat font-bold">
                Dernières actualités
                <hr class="w-full border-t-4 rounded-full border-indigo-500">
            </h1>
        </div>
    </div>

    {% set currentDate = "now"|date("U") %}
    {% set postsWithDiff = [] %}

    {% for post in posts %}
        {% set postDate = post.createdAt|date("U") %}
        {% set timeDiff = currentDate - postDate %}

        {% set postWithDiff = {
            'post': post,
            'timeDiff': timeDiff
        } %}

        {% set postsWithDiff = postsWithDiff|merge([postWithDiff]) %}
    {% endfor %}

    {% set sortedPosts = postsWithDiff|sort((a, b) => a.timeDiff - b.timeDiff) %}

    {% for postWithDiff in sortedPosts %}
        <div class="md:flex md:flex-wrap -mx-2">
        {{ macroPost.post( postWithDiff.post.title,
                            postWithDiff.post.createdAt,
                            postWithDiff.post.user.lastName ,
                            postWithDiff.post.category,
                            postWithDiff.post.content,
                            '') }}
        </div>
    {% endfor %}
</div>

{% endblock %}
