{% extends 'base_landing.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="pb-24">
    <style>
        body {
            background-image: url('{{ asset('images/landingPage.png') }}');
            background-size: cover;
            background-position: center;
            font-family: 'Arial', sans-serif;
        }
    </style>
    <body class="min-h-screen flex items-center justify-center">
    <div id="landing-content" class="bg-white rounded-lg shadow-lg p-8 sm:mx-8 lg:mx-12 xl:mx-16 transform transition-all duration-500 mt-40">
        <h1 class="text-4xl font-bold text-center text-blue-900 mb-8">Social G4</h1>
        <a href="{{ path('app_login') }}" class="bg-secondary hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full mb-4 transition duration-300 transform hover:scale-105 hover:shadow-md focus:outline-none focus:ring focus:ring-blue-300 block text-center">
            Connexion
        </a>
        <p class="text-center text-blue-700 mb-4">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}" class="text-blue-500 font-bold hover:underline">Inscrivez-vous</a></p>
    </div>
    <script>
        const landingContent = document.getElementById("landing-content");
        landingContent.style.transition = "opacity 1s ease-in-out";
        setTimeout(() => {
            landingContent.style.opacity = "1";
        }, 500);
    </script>
    </body>
</div>
{% endblock %}
