{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}

<style>
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .popup-close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>


<img src="/images/voiture.png" alt="" class="mx-auto mt-2 mb-2">

   	<div class="md:px-32 pb-10">
        <h1 class="text-center text-2xl font-bold my-4">Trajet Disponible</h1>
        <div class="h-1 bg-black w-1/4 mx-auto mb-5"></div>
        <div class="text-center">
            <button id="openModal" class="text-2xl text-white py-2 px-4 rounded m-2 bg-primary">Ajouter un Trajet</button>
        </div>

<!-- MODAL POUR LA CREATON D'UN COVOIT -->
    <div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <div class="modal-container max-w-md mx-auto my-10 bg-white rounded shadow-lg">
            <div class="modal-content py-4 text-left px-6" style="height:40em;">

            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold mb-4">Création d'un trajet</h2>
                <button id="closeModal" class="bg-transparent text-red-500 py-2 px-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-14 w-14">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="my-7 flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto mb-[250px] p-10 gap-4">
            <hr class="w-48 h-0.5 bg-primary border-0 rounded">

            {{ form_errors(convoitForm) }}
            {{ form_start(convoitForm) }}

            <div class="mb-4">
                <label for="user" class="block text-black text-sm mb-2">Utilisateur</label>
                {{ form_widget(convoitForm.user, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="category" class="block text-black text-sm mb-2">Catégorie</label>
                {{ form_widget(convoitForm.category, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="name" class="block text-black text-sm mb-2">Titre</label>
                {{ form_widget(convoitForm.title, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}})}}
            </div>

            <div class="mb-4">
                <label for="description" class="block text-black text-sm mb-2">Description</label>
                {{ form_widget(convoitForm.content, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}})}}
            </div>

            <div class="mb-4">
                <label for="imageFile" class="hidden"></label>
                {{ form_widget(convoitForm.imageFile, {'attr': {'class': 'hidden'}}) }}
            </div>

            <div class="mb-4">
                {{ form_widget(convoitForm.save, {'attr': {'class': 'w-full p-2 bg-primary text-white rounded-lg cursor-pointer'}}) }}
            </div>

            {{ form_end(convoitForm) }}
            </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('openModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.remove('hidden');
        });

        document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.add('hidden');
        });
    </script>
    <!-- FIN DE LA MODAL CREATION COVOIT-->

	<!-- AFFICHAGE LISTE COVOIT -->
		<div class="flex flex-wrap">
			{% for post in posts %}
			<div class="flex flex-col p-4 rounded-md w-96 h-96 cursor-pointer shadow m-3" id="openModal{{ post.id }}" >
			<div class="flex items-center mb-4" >
        		<div class="h-full w-2 bg-primary mr-2"></div>
        			<h2 class="text-lg font-bold">{{ post.title |striptags}}</h2>
    			</div>
				<div class="p-2 overflow-hidden">
        			<p class="text-xl text-gris overflow-ellipsis">{{ post.content |striptags}}</p>
    			</div>
			</div>
			{% endfor %}
		</div>
	<!-- FIN AFFICHAGE LISTE -->

	<!-- MODAL POUR LES INFOS D'UN COURS -->
    {% for post in posts %}
    <!-- Exemple de structure Symfony avec Tailwind CSS pour une modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal{{ post.id }}">
        <div class="fixed inset-0 overflow-y-auto">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!-- Fond sombre de la modal -->
                <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                    <div class="absolute inset-0 bg-primary opacity-75"></div>
                </div>

                <!-- Contenu de la modal -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full">
                    <!-- En-tête de la modal -->
                    <div class="bg-primary px-4 py-3">
                        <h3 class="text-lg font-medium leading-6 text-white font-montserrat" id="modal-title">
                            Trajet : {{ post.title |striptags}}
                        </h3>
                        <p class="mt-1 text-sm text-gray-300 font-montserrat">
                            Date de création : {{ post.createdAt|date('d-m-Y') }}
                        </p>
                        <p class="mt-1 text-sm text-gray-300 font-montserrat">
                            Créateur : {{ post.user }}
                        </p>
                    </div>

                    <!-- Corps de la modal -->
                    <div class="p-4">
                        <div class="flex">
                             <!-- Colonne pour le texte (65% de la largeur) -->
                            <div class="w-2/3 break-words">
                                <!-- Insérez votre logique pour afficher le texte ici -->
                                <p class="font-montserrat">{{ post.content |striptags}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Pied de la modal -->
                    <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="button" class="w-full font-montserrat inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 hover:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal('{{ post.id }}')">
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        // Attachez un gestionnaire d'événements à chaque card
        {% for post in posts %}
            document.getElementById('openModal{{ post.id }}').addEventListener('click', function() {
                document.getElementById('myModal{{ post.id }}').classList.remove('hidden');
            });
        {% endfor %}

        function closeModal(id) {
            // Masquer la modal
            document.getElementById('myModal' + id).classList.add('hidden');
        }
    </script>
    <!-- FIN MODAL POUR LES INFOS DE VENTE -->
</div>

{% endblock %}