{% macro contact(contact) %}
    <li>
        <div class="bg-white overflow-hidden shadow rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ contact.name }}</h3>
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-500">Status:
                        <span class="{{ contact.status == 'accepted' ? 'text-green-600' : 'text-red-600' }}">
                            {{ contact.status == 'accepted' ? 'Accepted' : 'Pending' }}
                        </span>
                    </p>
                    <a href="#" class="send-message" data-id="{{ contact.id }}" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Envoyer un message</a>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
