
{% macro trombi(macroName, macroProm, macroMail, macroImgPath, userId) %}

    <tr class="text-gray-700">
        <td class="px-4 py-3 border">
            <div class="flex items-center text-sm">

             {% if macroImgPath %}
                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                <img class="object-cover w-full h-full rounded-full" src="{{macroImgPath}}" alt=""/>
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
            </div>
            {% else %}
                <div id="SVG" name="SvgUser" class="pr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                    <path d="M12 5.8125C9.9375 5.8125 8.25 7.4625 8.25 9.45C8.25 11.4375 9.9375 13.125 12 13.125C14.0625 13.125 15.75 11.475 15.75 9.4875C15.75 7.5 14.0625 5.8125 12 5.8125ZM12 11.4375C10.875 11.4375 9.9375 10.575 9.9375 9.4875C9.9375 8.4 10.875 7.5 12 7.5C13.125 7.5 14.0625 8.3625 14.0625 9.45C14.0625 10.5375 13.125 11.4375 12 11.4375Z" fill="#111928"/>
                    <path d="M11.9998 0.675049C5.7373 0.675049 0.674805 5.73755 0.674805 12C0.674805 18.2626 5.7373 23.3625 11.9998 23.3625C18.2623 23.3625 23.3623 18.2626 23.3623 12C23.3623 5.73755 18.2623 0.675049 11.9998 0.675049ZM7.4248 20.475V17.4C7.4248 16.2 8.39981 15.225 9.5998 15.225H14.4748C15.6748 15.225 16.6498 16.2 16.6498 17.4V20.475C15.2998 21.225 13.7248 21.6376 12.0373 21.6376C10.3498 21.675 8.77481 21.225 7.4248 20.475ZM18.2998 19.3125V17.4C18.2998 15.2625 16.5748 13.5375 14.4373 13.5375H9.56231C7.42481 13.5375 5.6998 15.2625 5.6998 17.4V19.3125C3.6373 17.55 2.3248 14.925 2.3248 12C2.3623 6.67505 6.67481 2.36255 11.9998 2.36255C17.3248 2.36255 21.6748 6.71255 21.6748 12.0375C21.6748 14.925 20.3623 17.55 18.2998 19.3125Z" fill="#111928"/>
                    </svg>
                </div>
            {% endif %}

            <div>
                <p class="font-semibold font-montserrat text-black">{{macroName}}</p>
            </div>
            </div>
        </td>
        <td class="px-4 py-3 text-ms font-semibold border font-montserrat">{{macroProm}}</td>
        <td class="px-4 py-3 text-xs border">
            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm font-montserrat">{{macroMail}}</span>
        </td>
        <td class="px-4 py-3 text-xs border text-center">
            <a href="{{ path('app_trombinoscope_add', {'id': userId}) }}">
                <button type="button" class="btn btn-info">
                    <i class="fas fa-envelope fa-2xl"></i>
                </button>
            </a>
        </td>
    </tr>
{% endmacro %}