{% macro post(macroTitle, macroCreaDate, macroCrea, macroCat, macroCont, macroImgPath) %}
     <div class="DivPar my-5 w-2/3 shadow-xl container mx-auto rounded-lg border-y-2 border-primary bg-white ">
        <div class="flex justify-between">
            <h2  name="Title" id="Title" class="Title text-center relative text-2xl font-semibold pt-1.5 pl-5 font-montserrat">{{macroTitle}}</h2>
            <div class="flex">
               <p class="mx-5 rounded-lg mt-1.5 px-1.5 font-montserrat">{{macroCrea}}</p>
                <p class="mx-5 rounded-lg mt-1.5 px-1.5 font-montserrat">{{ macroCreaDate|date('d F Y') }}</p>
            </div>
        </div>
        <p class="px-5 font-semibold font-montserrat">{{macroCat}}</p>
        <div class="flex p-3">
            <div class="flex-shrink-0 overflow-hidden container h-44 w-44 aspect-ratio-square rounded-lg bg-gray-500 border-solid border-2 border-gray-600">
                <img class="object-cover rounded-lg max-square-image" src="{{macroImgPath}}" alt="Mettre votre image ici">
            </div>
            <div class="ml-3">
                <p class="font-montserrat">{{macroCont}}    <!-- TODO : Limiter la taille du contenue à x caractères-->
                </p>
            </div>
        </div>
    </div>
{% endmacro %}