{% extends 'base_landing.html.twig' %}

{% block title %}Chat en temps réel{% endblock %}

{% block body %}
    <div id="messages">
        ici
    </div>
    <input type="text" id="messageInput" placeholder="Écrire un message...">
    <button onclick="sendMessage()">Envoyer</button>
    <script>
        const apiUrl = 'https://g4-reseau-cercle.braquemard.fr/api';
        const ws = new WebSocket('wss://nginx.reseau-cercle.braquemard.fr/ws');
        const userId = {{ app.user.id|escape('js') }}; // Sécurisez l'ID de l'utilisateur
        const receiverId = '23'; // ID du destinataire
        const eventSource = new EventSource('https://nginx.reseau-cercle.braquemard.fr/.well-known/mercure?topic=' + encodeURIComponent('http://monprojet/message/' + userId));

        ws.addEventListener('open', event => {
            console.log('WebSocket connected');
        });

        ws.addEventListener('close', event => {
            console.log('WebSocket closed');
            // Gérez la reconnexion ici si nécessaire
        });

        ws.addEventListener('error', event => {
            console.error('WebSocket error:', event);
        });

        function sendMessage() {
            if (ws.readyState !== WebSocket.OPEN) {
                return setTimeout(() => sendMessage(), 100);
            }

            const messageInput = document.getElementById('messageInput');
            const message = {
                sender_id: userId,
                receiver_id: receiverId,
                content: messageInput.value
            };
            ws.send(JSON.stringify(message));
            messageInput.value = '';
        }

        function loadMessages() {
            // Chargez les messages antérieurs
            fetch(apiUrl + '/messages/' + userId)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(messages => {
                    if (messages.length > 0) {
                        messages.forEach(message => displayMessage(message));
                    } else {
                        console.log('Aucun message reçu');
                    }
                })
                .catch((error) => {
                    console.error('Erreur:', error);
                });
        }
        // Réception des messages depuis le Hub Mercure via la Websocket
        ws.addEventListener('message', event => {
            const message = JSON.parse(event.data);
            displayMessage(message);
        });

        function displayMessage(message) {
            // Affiche un message dans le DOM
            const messagesContainer = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `De ${message.sender_id}: ${message.content}`;
            messagesContainer.appendChild(messageElement);
        }

        loadMessages();
    </script>
{% endblock %}
