{# templates/chat/messages.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages Enregistrés</h1>
    <ul>
        {% for message in messages %}
            <li>{{ message.sender.firstName }} à {{ message.receiver.firstName }}: {{ message.content }}</li>
        {% endfor %}
    </ul>
{% endblock %}
