@tailwind base;
@tailwind components;
@tailwind utilities;

.fond {
  background-image: url("../../public/images/Fond_Accueil.jpg");
  width: auto;
}

.logo {
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.points {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5%;
}
