{% extends 'base.html.twig' %}

{% block title %}Liste des cours
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Titre du cours:
			{{ cours.title }}</h1>
		<p>Contenu du cours:</p>
		{{ cours.content |striptags}}
	</div>
{% endblock %}
