{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1 class="text-center text-3xl font-bold bg-secondary text-white p-1 mb-20">
        Contact
    </h1>

    <div class="grid grid-cols-2 gap-4">
        <ul class="flex flex-col space-y-2 p-4">
            {% for contact in contactList %}
                {% if contact.status == 'accepted' %}
                    <li class="contact" data-id="{{ contact.id }}" onclick="selectContact('{{ contact.name }}', '{{ contact.id }}')">
                        <div class="bg-white overflow-hidden shadow rounded-lg">
                            <div class="px-4 py-5 sm:px-6">
                                <div class="flex items-center justify-between">
                                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ contact.name }}</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="container mx-auto">
            <div class="max-w-2xl border rounded">
                <div>
                    <div class="w-full">
                        <div class="relative flex items-center p-3 border-b border-gray-300">
                            <span id="interlocutor" class="block ml-2 font-bold text-gray-600">Votre interlocuteur</span>
                            <span class="absolute w-3 h-3 bg-green-600 rounded-full left-10 top-3"></span>
                        </div>
                        <div class="relative w-full p-6 overflow-y-auto h-[40rem]">
                            <ul class="space-y-2">
                                <div id="messages"></div>
                            </ul>
                        </div>
                        <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">
                            <input type="text" placeholder="Message"
                                   class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700"
                                   name="message" required />
                            <button id="sendButton">
                                <i class="fa fa-paper-plane text-2xl text-gray-500"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <a href="{{ path('app_home') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            Retour
        </a>
    </div>

    <script>
        const apiUrl = 'https://g4-reseau-cercle.braquemard.fr/api';
        const ws = new WebSocket('ws://g4-reseau-cercle.braquemard.fr:8081');
        const userId = {{ app.user.id|escape('js') }};
        let receiverId = 'Votre interlocuteur'
        let senderId = {{ app.user.id|escape('js') }};
        let eventSource;
        function initializeEventSource() {
            if (eventSource) eventSource.close();
            eventSource = new EventSource(`http://g4-reseau-cercle.braquemard.fr:8082/.well-known/mercure?topic=${encodeURIComponent('http://monprojet/message/' + receiverId)}`);
            eventSource.onopen = event => {
                console.log('EventSource connected');
            };
            eventSource.onmessage = event => {
                const data = JSON.parse(event.data);
                displayMessage(data);
            };
        }
        initializeEventSource();
        ws.addEventListener('open', event => {
            console.log('WebSocket connected');
        });

        ws.addEventListener('close', event => {
            console.log('WebSocket closed');
        });

        ws.addEventListener('error', event => {
            console.error('WebSocket error:', event);
        });

        function sendMessage() {
            if (ws.readyState !== WebSocket.OPEN) {
                return setTimeout(() => sendMessage(), 100);
            }
            const messageInput = document.querySelector('input[name="message"]');
            const message = {
                sender_id: userId,
                receiver_id: receiverId,
                content: messageInput.value
            };
            fetch(`${apiUrl}/message/send/{{ app.user.id }}/` + receiverId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(message)
            })
                .then(response => response.json())
                .then(message => {
                    ws.send(JSON.stringify(message));
                    messageInput.value = '';
                    displayMessageLocally(message.content);
                })
                .catch(error => console.error('Error:', error));
            ws.send(JSON.stringify(message));
            messageInput.value = '';
            displayMessageLocally(message.content);
        }
        document.getElementById('sendButton').addEventListener('click', event => {
            event.preventDefault();
            sendMessage();
        });
        function displayMessageLocally(content) {
            const messagesContainer = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Moi: ${content}`;
            messagesContainer.appendChild(messageElement);
        }
        window.selectContact = function(name, id) {
            const interlocutorElement = document.getElementById('interlocutor');
            interlocutorElement.textContent = `Votre interlocuteur: ${name}`;
            receiverId = id;
            loadMessages();
        }
        window.displayMessageLocally = function(content) {
            const messagesContainer = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Moi: ${content}`;
            messagesContainer.appendChild(messageElement);
        }
        window.displayMessage = function(message) {
            const messagesContainer = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Votre interlocuteur: ${message.content}`;
            messagesContainer.appendChild(messageElement);
        }
        window.loadMessages = function() {
            if (!receiverId) return;
            fetch(`${apiUrl}/messages/${userId}/${receiverId}`)
                .then(response => response.json())
                .then(messages => {
                    const messagesContainer = document.getElementById('messages');
                    messagesContainer.innerHTML = '';
                    messages.forEach(message => {
                        const messageElement = document.createElement('div');
                        messageElement.textContent = `De ${message.sender_id}: ${message.content}`;
                        messagesContainer.appendChild(messageElement);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
        function receiveMessage(message) {
            const messagesContainer = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Ded ${message.sender_id}: ${message.content}`;
            if (messageElement.textContent == 'undefined') {
                'En attente de message'
            }
            messagesContainer.appendChild(messageElement);
        }
        ws.addEventListener('message', event => {
            const message = JSON.parse(event.data);
            receiveMessage(message);
        });
    </script>
{% endblock %}
