{% extends 'base.html.twig' %}

{% block title %}Liste des cours
{% endblock %}

{% block body %}

    	<div class="md:px-32 pb-10">
        <h1 class="text-center text-2xl font-bold my-4">Cours</h1>
        <div class="h-1 bg-black w-1/6 rounded-full mx-auto mb-5"></div>

        {% if app.user.status == "staff" or app.user.status == "teacher" %}
        	<div class="text-center">
            	<button id="openModal" class="text-2xl text-white py-2 px-4 rounded m-2 bg-primary">Ajouter un cours</button>
        	</div>
		{% endif %}

		<!-- MODAL POUR LA CREATON D'UN COURS -->
    <div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <div class="modal-container max-w-md mx-auto my-10 bg-white rounded shadow-lg">
            <div class="modal-content py-4 text-left px-6" style="height:45em;">

            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold mb-4">Création d'un cours</h2>
                <button id="closeModal" class="bg-transparent text-red-500 py-2 px-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-14 w-14">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="my-7 flex flex-col bg-white shadow-md max-w-xl max-h-4xl mx-auto mb-[250px] p-10 gap-4">
            <hr class="w-48 h-0.5 bg-primary border-0 rounded">

            {{ form_errors(coursForm) }}
            {{ form_start(coursForm) }}

            <div class="mb-4">
                <label for="user" class="block text-black text-sm mb-2">Utilisateur</label>
                {{ form_widget(coursForm.user, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="category" class="block text-black text-sm mb-2">Catégorie</label>
                {{ form_widget(coursForm.category, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="name" class="block text-black text-sm mb-2">Titre</label>
                {{ form_widget(coursForm.title, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                <label for="description" class="block text-black text-sm mb-2">Description</label>
                {{ form_widget(coursForm.content, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}})}}
            </div>

            <div class="mb-4">
                <label for="imageFile" class="block text-black text-sm mb-2">Choisir une image</label>
                {{ form_widget(coursForm.imageFile, {'attr': {'class': 'w-full p-2 rounded-lg border focus:outline-none focus:border-primary'}}) }}
            </div>

            <div class="mb-4">
                {{ form_widget(coursForm.save, {'attr': {'class': 'w-full p-2 bg-primary text-white rounded-lg cursor-pointer'}}) }}
            </div>

            {{ form_end(coursForm) }}
            </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('openModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.remove('hidden');
        });

        document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('myModal').classList.add('hidden');
        });
    </script>
    <!-- FIN DE LA MODAL CREATION COURS-->


	<!-- AFFICHAGE LISTE COURS -->

		<div class="flex flex-wrap">
			{% for course in courses %}
			<div class="flex flex-col p-4 rounded-md w-96 h-96 cursor-pointer shadow m-3" id="openModal{{ course.id }}" >
			<div class="flex items-center mb-4" >
        		<div class="h-full w-2 bg-primary mr-2"></div>
        			<h2 class="text-lg font-bold">{{ course.title |striptags }}</h2>
    			</div>
				{% set firstImage = course.getFirstImage() %}
                {% if firstImage %}
				<img class="" src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" alt="first image">
    			<div class="p-2 overflow-hidden">
        			<p class="text-xl text-gris overflow-ellipsis break-words">{{ course.content |striptags }}</p>
    			</div>
				{% else %}
				<div class="p-2 overflow-hidden">
        			<p class="text-xl text-gris overflow-ellipsis">{{ course.content |striptags }}</p>
    			</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	<!-- FIN AFFICHAGE LISTE -->



	<!-- MODAL POUR LES INFOS D'UN COURS -->
    {% for course in courses %}
        <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="myModal{{ course.id }}">
           <!-- Exemple de structure Symfony avec Tailwind CSS pour une modal -->
<div class="fixed inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!-- Fond sombre de la modal -->
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-primary opacity-75"></div>
        </div>

        <!-- Contenu de la modal -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full">
            <!-- En-tête de la modal -->
            <div class="bg-primary px-4 py-3">
                <h3 class="text-lg font-medium leading-6 text-white font-montserrat" id="modal-title">
                    Titre : {{ course.title |striptags }}
                </h3>
                <p class="mt-1 text-sm text-gray-300 font-montserrat">
                    Créateur: {{ course.user }}
                </p>
            </div>

            <!-- Corps de la modal -->
            <div class="p-4">
                <div class="flex">
                {% set firstImage = course.getFirstImage() %}
                {% if firstImage %}
				<img class="" src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" alt="first image">
    			<div class="p-2 overflow-hidden">
        			<p class="text-xl text-gris overflow-ellipsis break-words">{{ course.content |striptags }}</p>
    			</div>
				{% else %}
                <!-- Colonne pour le texte (65% de la largeur) -->
                <div class="w-2/3 break-words">
                <!-- Insérez votre logique pour afficher le texte ici -->
                    <p class="font-montserrat break-words">{{ course.content |striptags}}</p>
                </div>
				{% endif %}
                </div>
            </div>

            <!-- Pied de la modal -->
            <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="font-montserrat w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-offset-2 hover:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal('{{ course.id }}')">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>

        </div>
    {% endfor %}

    <script>
        // Attachez un gestionnaire d'événements à chaque card
        {% for course in courses %}
            document.getElementById('openModal{{ course.id }}').addEventListener('click', function() {
                document.getElementById('myModal{{ course.id }}').classList.remove('hidden');
            });
        {% endfor %}

        function closeModal(id) {
            // Masquer la modal
            document.getElementById('myModal' + id).classList.add('hidden');
        }
    </script>
    <!-- FIN MODAL POUR LES INFOS DE VENTE -->
	</div>


{% endblock %}
