{% extends 'base.html.twig' %}

{% block title %}Nouveau Cours{% endblock %}

{% block body %}
    <h1>Nouveau Cours</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter le cours</button>
    {{ form_end(form) }}
{% endblock %}
