<div class="bg-primary p-4" style="height: 75px;">
    <div class="container mx-auto flex justify-between items-center h-full">
        <div class="flex items-center space-x-4"> <!-- Ajoutez de l'espace entre les éléments -->
            <a href="{{ path('app_home') }}" class="text-white text-lg font-bold">Accueil</a>
        </div>
            <div class="rounded-full border-white border-r-2 h-16"></div>
            <a class="" href="{{ path('app_courses') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 21 24">
                <path d="M20.9375 19.9874L17.75 3.37495C17.6375 2.77495 17.3 2.21245 16.775 1.87495C16.25 1.53745 15.65 1.38745 15.0125 1.49995L12.425 1.98745C12.05 1.19995 11.225 0.637451 10.325 0.637451H6.83755H3.35005C2.03755 0.674951 0.987549 1.72495 0.987549 2.99995V20.9999C0.987549 22.275 2.03755 23.3624 3.35005 23.3624H6.83755H10.325C11.6 23.3624 12.6875 22.3124 12.6875 20.9999V10.2374L14.75 21.1874C14.8625 21.7874 15.2 22.3499 15.725 22.6874C16.1 22.9499 16.5875 23.0999 17.0375 23.0999C17.1875 23.0999 17.3375 23.0999 17.4875 23.0624L19.1 22.7624C20.375 22.4999 21.2 21.2624 20.9375 19.9874ZM10.9625 2.99995V7.42495H7.66255V2.36245H10.2875C10.6625 2.36245 10.9625 2.62495 10.9625 2.99995ZM5.97505 17.025H2.67505V8.02495H5.97505V17.025ZM7.66255 9.11245H10.9625V14.5499H7.66255V9.11245ZM3.35005 2.36245H5.97505V6.37495H2.67505V2.99995C2.67505 2.62495 2.97505 2.36245 3.35005 2.36245ZM2.67505 20.9999V18.7125H5.97505V21.6374H3.35005C2.97505 21.6749 2.67505 21.3749 2.67505 20.9999ZM10.325 21.6749H7.70005V16.2374H11V20.9999C10.9625 21.3749 10.6625 21.6749 10.325 21.6749ZM18.7626 21.0749L17.1875 21.3749C17 21.4124 16.85 21.375 16.7 21.2624C16.55 21.15 16.475 20.9999 16.4375 20.8499L13.1 3.59995L15.35 3.18745C15.5375 3.14995 15.6875 3.18745 15.8375 3.29995C15.9875 3.41245 16.0625 3.56245 16.1 3.71245L19.2875 20.3249C19.3625 20.6624 19.1376 21 18.7626 21.0749Z" fill="#F8F8F8"/>
                </svg>
            </a>
            <div class="rounded-full border-white border-r-2 h-16"></div>
            <a class="" href="{{ path('app_calendar') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 20" fill="none">
                <path d="M20.7375 1.9563H18.7875V1.1313C18.7875 0.681299 18.4125 0.268799 17.925 0.268799C17.4375 0.268799 17.0625 0.643799 17.0625 1.1313V1.9563H6.375V1.1313C6.375 0.681299 6 0.268799 5.5125 0.268799C5.025 0.268799 4.65 0.643799 4.65 1.1313V1.9563H2.7375C1.4625 1.9563 0.375 3.0063 0.375 4.3188V17.3688C0.375 18.6438 1.425 19.7313 2.7375 19.7313H20.7375C22.0125 19.7313 23.1 18.6813 23.1 17.3688V4.2813C23.1 3.0063 22.0125 1.9563 20.7375 1.9563ZM2.1 8.9313H5.2875V12.6438H2.1V8.9313ZM6.975 8.9313H10.9125V12.6438H6.975V8.9313ZM10.9125 14.3313V18.0063H6.975V14.3313H10.9125ZM12.6 14.3313H16.5375V18.0063H12.6V14.3313ZM12.6 12.6438V8.9313H16.5375V12.6438H12.6ZM18.1875 8.9313H21.375V12.6438H18.1875V8.9313ZM2.7375 3.6438H4.6875V4.4313C4.6875 4.8813 5.0625 5.2938 5.55 5.2938C6.0375 5.2938 6.4125 4.9188 6.4125 4.4313V3.6438H17.1375V4.4313C17.1375 4.8813 17.5125 5.2938 18 5.2938C18.4875 5.2938 18.8625 4.9188 18.8625 4.4313V3.6438H20.7375C21.1125 3.6438 21.4125 3.9438 21.4125 4.3188V7.2438H2.1V4.3188C2.1 3.9438 2.3625 3.6438 2.7375 3.6438ZM2.1 17.3313V14.2938H5.2875V17.9688H2.7375C2.3625 18.0063 2.1 17.7063 2.1 17.3313ZM20.7375 18.0063H18.1875V14.3313H21.375V17.3688C21.4125 17.7063 21.1125 18.0063 20.7375 18.0063Z" fill="#F8F8F8"/>
                </svg>
            </a>
            <div class="rounded-full border-white border-r-2 h-16"></div>
            <a class="" href="{{ path('app_convoit') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 22" fill="none">
                <path d="M6.5248 10.2875C5.0623 10.2875 3.8623 11.45 3.8623 12.9125C3.8623 14.375 5.0623 15.5375 6.5248 15.5375C7.9873 15.5375 9.1873 14.375 9.1873 12.9125C9.1873 11.45 7.9873 10.2875 6.5248 10.2875ZM6.5248 13.85C5.9998 13.85 5.5498 13.4375 5.5498 12.9125C5.5498 12.3875 5.9998 11.975 6.5248 11.975C7.0498 11.975 7.4998 12.3875 7.4998 12.9125C7.4998 13.4 7.0873 13.85 6.5248 13.85Z" fill="#F8F8F8"/>
                <path d="M17.475 10.2125C16.0125 10.2125 14.8125 11.4125 14.8125 12.875C14.8125 14.3375 16.0125 15.5375 17.475 15.5375C18.9375 15.5375 20.1375 14.3375 20.1375 12.875C20.1375 11.4125 18.9375 10.2125 17.475 10.2125ZM17.475 13.8125C16.95 13.8125 16.5 13.4 16.5 12.8375C16.5 12.275 16.95 11.8625 17.475 11.8625C18 11.8625 18.45 12.275 18.45 12.8375C18.45 13.4 18 13.8125 17.475 13.8125Z" fill="#F8F8F8"/>
                <path d="M12.8998 12.0125H11.0998C10.6498 12.0125 10.2373 12.3875 10.2373 12.875C10.2373 13.3625 10.6123 13.7375 11.0998 13.7375H12.8998C13.3498 13.7375 13.7623 13.3625 13.7623 12.875C13.7623 12.3875 13.3498 12.0125 12.8998 12.0125Z" fill="#F8F8F8"/>
                <path d="M21.6748 7.73752L21.3373 4.02502C21.1498 1.92502 19.2373 0.275024 16.9873 0.275024H7.01231C4.76231 0.275024 2.8498 1.92502 2.6623 3.98752L2.3248 7.70002C1.3498 8.00002 0.674805 8.90002 0.674805 9.95002V15.7625C0.674805 17.075 1.7248 18.125 2.9998 18.125H3.0748V19.3625C3.0748 20.6375 4.1248 21.725 5.4373 21.725H5.9998C7.2748 21.725 8.3623 20.675 8.3623 19.3625V18.125H15.6373V19.3625C15.6373 20.6375 16.6873 21.725 17.9998 21.725H18.5998C19.8748 21.725 20.9623 20.675 20.9623 19.3625V18.125H20.9998C22.2748 18.125 23.3623 17.075 23.3623 15.7625V9.95002C23.3623 8.90002 22.6498 8.03752 21.6748 7.73752ZM4.3498 4.17502C4.4623 2.93752 5.62481 2.00002 7.01231 2.00002H17.0248C18.4123 2.00002 19.6123 2.97502 19.6873 4.17502L19.9873 7.62502H4.0123L4.3498 4.17502ZM6.6748 19.3625C6.6748 19.7375 6.3748 20.0375 5.9998 20.0375H5.3998C5.0248 20.0375 4.7248 19.7375 4.7248 19.3625V18.125H6.6373V19.3625H6.6748ZM19.2373 19.3625C19.2373 19.7375 18.9373 20.0375 18.5623 20.0375H17.9998C17.6248 20.0375 17.3248 19.7375 17.3248 19.3625V18.125H19.2373V19.3625ZM21.6748 15.8C21.6748 16.175 21.3748 16.475 20.9998 16.475H3.0748H2.9998C2.6248 16.475 2.3248 16.175 2.3248 15.8V9.95002C2.3248 9.57502 2.6248 9.27502 2.9998 9.27502H20.9998C21.3748 9.27502 21.6748 9.57502 21.6748 9.95002V15.8Z" fill="#F8F8F8"/>
                </svg>
            </a>
            <div class="rounded-full border-white border-r-2 h-16"></div>
            <a class="" href="{{ path('app_market') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 24" fill="none">
                <path d="M21.7875 1.20005C21.6375 0.750052 21.15 0.525052 20.7001 0.712552L17.9625 1.72505C17.625 1.83755 17.4 2.17505 17.4 2.51255V6.63755H4.72505C3.33755 6.63755 2.17505 7.76255 2.17505 9.18755V13.2751C2.17505 14.5876 3.22505 15.7126 4.53755 15.8251L17.4 16.8001V17.0626C17.4 17.7001 16.875 18.2251 16.2375 18.2251H5.66255C4.23755 18.2251 3.07505 19.3876 3.07505 20.8126C3.07505 22.2376 4.23755 23.4001 5.66255 23.4001C7.08755 23.4001 8.25005 22.2376 8.25005 20.8126C8.25005 20.5126 8.17505 20.1751 8.10005 19.9126H11.85C11.7375 20.2126 11.7 20.5126 11.7 20.8126C11.7 22.2376 12.8625 23.4001 14.2875 23.4001C15.7125 23.4001 16.875 22.2376 16.875 20.8126C16.875 20.4751 16.8 20.1751 16.6875 19.8751C18.0375 19.6501 19.0875 18.4876 19.0875 17.0626V3.15005L21.3 2.36255C21.7125 2.13755 21.9375 1.65005 21.7875 1.20005ZM12.6 8.28755V14.7001L8.62505 14.4001V8.28755H12.6ZM3.86255 13.2751V9.15005C3.86255 8.66255 4.23755 8.28755 4.72505 8.28755H6.93755V14.2876L4.68755 14.1376C4.20005 14.1001 3.86255 13.6876 3.86255 13.2751ZM17.4 15.0751L14.2875 14.8501V8.28755H17.4V15.0751ZM6.56255 20.7376C6.56255 21.2251 6.15005 21.6376 5.66255 21.6376C5.17505 21.6376 4.76255 21.2251 4.76255 20.7376C4.76255 20.2501 5.17505 19.8376 5.66255 19.8376C6.15005 19.8376 6.56255 20.2501 6.56255 20.7376ZM14.25 21.6751C13.7625 21.6751 13.35 21.2626 13.35 20.7751C13.35 20.2876 13.7625 19.8751 14.25 19.8751C14.7375 19.8751 15.15 20.2876 15.15 20.7751C15.15 21.2626 14.775 21.6751 14.25 21.6751Z" fill="#F8F8F8"/>
                </svg>
            </a>
            <div class="rounded-full border-white border-r-2 h-16"></div>
            <a class="" href="{{ path('app_trombinoscope') }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 4 24 22" fill="none">
                <path d="M21.0373 4.17501H12.8623V1.81251C12.8623 1.36251 12.4873 0.950012 11.9998 0.950012C11.5123 0.950012 11.1373 1.32501 11.1373 1.81251V4.17501H2.9623C1.6873 4.17501 0.674805 5.18751 0.674805 6.46251V18.7625C0.674805 20.0375 1.6873 21.05 2.9623 21.05H21.0748C22.3498 21.05 23.3623 20.0375 23.3623 18.7625V6.46251C23.3623 5.18751 22.3123 4.17501 21.0373 4.17501ZM2.9623 5.86251H21.0748C21.4123 5.86251 21.6748 6.12501 21.6748 6.46251V7.40001H2.3623V6.46251C2.3623 6.12501 2.6248 5.86251 2.9623 5.86251ZM21.0373 19.3625H2.9623C2.6248 19.3625 2.3623 19.1 2.3623 18.7625V9.05001H21.6748V18.725C21.6748 19.0625 21.3748 19.3625 21.0373 19.3625Z" fill="#F8F8F8"/>
                <path d="M9.7123 14.5625C10.0873 14.1125 10.3123 13.5125 10.3123 12.8375C10.3123 11.3375 9.1123 10.1375 7.6123 10.1375C6.1123 10.1375 4.9123 11.375 4.9123 12.875C4.9123 13.5125 5.1373 14.1125 5.5123 14.6C4.6498 15.2375 4.0498 16.2875 4.0498 17.45C4.0498 17.9 4.4248 18.3125 4.9123 18.3125C5.3998 18.3125 5.7748 17.9375 5.7748 17.45C5.7748 16.4375 6.5998 15.6125 7.6123 15.6125C8.6248 15.6125 9.4498 16.4375 9.4498 17.45C9.4498 17.9 9.8248 18.3125 10.3123 18.3125C10.7998 18.3125 11.1748 17.9375 11.1748 17.45C11.1373 16.25 10.5748 15.2 9.7123 14.5625ZM6.5998 12.875C6.5998 12.3125 7.0498 11.8625 7.6123 11.8625C8.1748 11.8625 8.6248 12.3125 8.6248 12.875C8.6248 13.4375 8.1748 13.8875 7.6123 13.8875C7.0498 13.8875 6.5998 13.4375 6.5998 12.875Z" fill="#F8F8F8"/>
                <path d="M19.0873 12.0125H14.4748C14.0248 12.0125 13.6123 12.3875 13.6123 12.875C13.6123 13.3625 13.9873 13.7375 14.4748 13.7375H19.0873C19.5373 13.7375 19.9498 13.3625 19.9498 12.875C19.9498 12.3875 19.5748 12.0125 19.0873 12.0125Z" fill="#F8F8F8"/>
                <path d="M17.4749 14.8625H14.5124C14.0624 14.8625 13.6499 15.2375 13.6499 15.725C13.6499 16.2125 14.0249 16.5875 14.5124 16.5875H17.4749C17.9249 16.5875 18.3374 16.2125 18.3374 15.725C18.3374 15.2375 17.9249 14.8625 17.4749 14.8625Z" fill="#F8F8F8"/>
                </svg>
            </a>
        <div class="flex items-center space-x-6"> <!-- Ajoutez de l'espace entre les icônes -->
            <div class="rounded-lg border-b-2 border-b-white border-r-2 border-r-white border-t-2 border-t-white">
                <form action="{{ path('app_home') }}" method="GET" class="flex items-center"> <!-- Ajoutez de l'espace entre les éléments du formulaire -->
                    <input type="text" name="q"  oninput="searchComments(this.value)" placeholder="Rechercher" class="border rounded-l-lg px-3 py-1 focus:outline-none focus:border-blue-700">
                    <button type="submit" class="bg-blue-700 text-white rounded-r-lg px-4 py-1 focus:outline-none">
                        <i class="fas fa-search text-xl"></i>
                    </button>
                </form>
            </div>
            <a href="{{ path('app_contact') }}" class="text-white text-2xl">
                <i class="fas fa-comment"></i>
            </a>

            <a href="{{ path('app_account') }}" class="text-white text-2xl">
                <i class="fas fa-user"></i>
            </a>

            <a href="{{ path('app_logout') }}" class="text-white text-2xl">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
</div>

<script>
    function searchComments(value) {
        let titresRecherche = document.querySelectorAll('.Title');
        console.log(titresRecherche, '1');

        // Assurez-vous que les listes ont la même longueur
        if (!titresRecherche.length) {
            console.error('La liste des titres ne doit pas être vide.');
            return;
        }


        titresRecherche.forEach(function (titre) {
            let parentCommentaire = titre.parentNode;
            let showCommentaire = titre.closest('.DivPar');
            console.log(showCommentaire,'2')
            // Vérifiez si le texte du titre, du contenu ou de l'utilisateur correspond à la valeur recherchée
            if (titre.textContent.toLowerCase().includes(value.toLowerCase())) {
                showCommentaire.style.display = ''; // Affiche l'élément parent
            } else {
                showCommentaire.style.display = 'none'; // Cache l'élément parent
            }
        });
    }
</script>

