<div class="px-2.5 py-4 rounded-xl bg-white drop-shadow-2xl border-4 border-beige w-fit h-fit grid grid-cols-1 justify-center place-items-center">

    <h1 class="font-montserrat font-semibold text-center mb-4">Choisissez votre catégorie</h1>

    <div class="grid grid-cols-2 gap-4">
        <a href="{{ path('app_convoit') }}">
            <div class="h-32 w-32 m-5 items-center py-2 px-2 rounded-xl bg-white drop-shadow-2xl flex flex-col justify-center">
                <p class="font-montserrat text-gray-400 text-center">Covoiturage</p>
            </div>
        </a>

        <a href="{{ path('app_market') }}">
            <div class="h-32 w-32 m-5 py-2 px-2 rounded-xl bg-white drop-shadow-2xl flex flex-col justify-center items-center">
                <p class="font-montserrat text-gray-400 text-center">Vente en ligne</p>
            </div>
        </a>

        <a href="{{ path('app_cours') }}">
            <div class="h-32 w-32 m-5 py-2 px-2 rounded-xl bg-white drop-shadow-2xl flex items-center justify-center">
                <p class="font-montserrat text-gray-400 text-center">Cours</p>
            </div>
        </a>

        <a href="#">    <!--TODO : Mettre le chemin pour ajouter un événement et pas le calendrier-->
            <div class="h-32 w-32 m-5 py-2 px-2 rounded-xl bg-white drop-shadow-2xl flex items-center justify-center">
                <p class="font-montserrat text-gray-400 text-center">Ajouter un événement au calendrier</p>
            </div>
        </a>
    </div>

</div>
